/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  /* プロフィールコンテナのスタイル */
  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* ユーザー情報のスタイル */
  .profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* 画像のスタイル */
  .profile-image img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  /* 編集リンクのスタイル */
  .edit-link {
    text-align: right;
  }
  
  .edit-link a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* 投稿一覧のスタイル */
  .user-tweets h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .user-tweet {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 20px;
  }
  
  .user-tweet p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* ハートアイコンのスタイル */
  .fa-heart {
    color: #ff0000;
  }
  
  /* リンクのスタイル */
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  